@font-face {
    font-family:"Century Gothic";
    src:    url("../fonts/CenturyGothic/CenturyGothic.eot?#iefix")        format("embedded-opentype"),
            url("../fonts/CenturyGothic/CenturyGothic.woff")              format("woff"),
            url("../fonts/CenturyGothic/CenturyGothic.ttf")               format("truetype"),
            url("../fonts/CenturyGothic/CenturyGothic.svg#CenturyGothic") format("svg");
    font-weight:normal;
    font-style:normal;
}
